<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="com.spring.beans.Student" id="Stu_id">
		<property name="name" value="Rahul"></property>
		<property name="rollno" value="100"></property>
		<property name="email" value="Rahulchy@gmail.com"></property>
		
	</bean>

</beans>